encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    # Replace with the public key you just generated
    recipient = "age1zsslcfs2k247w8m2leezczrd4t34dv4u9p730vqwcxgg6vdal5rsdkwtas"

[data]
    email = "jonassen.fabian@gmail.com"
    name = "Fabian Jonassen"

[onepassword]
    mode = "account"
    # In 2026, we prefer the 'op' CLI integration
    prompt = true

# This ensures chezmoi uses the 1Password CLI for secrets
[secret]
    command = "op"
