#!/bin/bash

# Only run on macOS
{{ if eq .chezmoi.os "darwin" -}}

echo "🍺 Checking for Homebrew..."

if ! command -v brew &> /dev/null; then
    echo "🚀 Homebrew not found. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    
    # Add brew to the current shell path so the next scripts can use it
    if [[ $(uname -m) == "arm64" ]]; then
        eval "$(/opt/homebrew/bin/brew shellenv)"
    else
        eval "$(/usr/local/bin/brew shellenv)"
    fi
else
    echo "✅ Homebrew is already installed."
fi

{{ end -}}
